<div class="jumbotron">
        <div class="container">
                <h1 class="display-3">{{title}}</h1>
                <div class="col-md-12 form-group">
                        <span>{{numberOne * numberTwo}}</span>
                        <span>{{isHappy ? ':)' : ':(' }}</span>
                </div>

                <div class="row">
                        <!-- event & property bindgin -->
                        <!-- <div class="col-md-4 form-group">
                                <h3>using Event Binding</h3>
                                <input type="text" class="form-control" (input)="change($event)" [value]="name" />

                                <p>
                                        {{this.name |json}}
                                </p>

                                <button class="btn btn-primary btn-outline-primary" (click)="changeName()">Change Name</button>

                        </div> -->


                        <!-- Template Refs -->
                        <!-- <div class="col-md-4 form-group">
                                <h3>using Template References</h3>
                                <input type="text" class="form-control" [value]="name" #temp />

                                <p>
                                        {{this.name | json}}
                                </p>
                                <button class="btn btn-primary btn-outline-primary" (click)="changeName(temp.value)">Change Name</button>
                        </div> -->


                        <!-- NgModel Refs -->
                        <!-- <div class="col-md-4 form-group">
                                <h3>Using NgModel</h3>
                                <input type="text" class="form-control" [(ngModel)]="name" #temp />

                                <p>
                                        {{this.name | json}}
                                </p>
                        </div> -->
                </div>


                <!-- Rendering Flows    -->
                <!-- <div class="row">
                        <div class="col-md-12 form-group">
                                <input type="text" class="form-control" (input)="handleChange($event.target.value)" [value]="search" />
                        </div>

                        <div class="form-group col-md-12" *ngIf="this.search.length > 2">
                                searchin for {{search}}....
                        </div>

                        <template [ngIf]="this.search.length > 2">
                                <div class="form-group col-md-12">
                                        searchin for this.search....
                                </div>
                        </template>
                </div> -->

                <!-- Rendering Flows -->
                <app-student-details></app-student-details>
        </div>
</div>