<form>
        <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
        </div>
        <div class="form-check">
                <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Remember Me</span>
                </label>
        </div>
        <button type="button" 
                class="btn btn-primary btn-outline-success" 
                (click)="goToSignup()">
                Sign Up
        </button>

        <button type="button" class="btn btn-primary btn-outline-primary" (click)="login()">Login</button>
</form>