<!-- Simple *ngFor -->
<!-- <div class="row">
        <ul class="list-group col-md-12">
                <li class="list-group-item" *ngFor="let student of students;let idx = index;">
                        {{student.rollNumber}} : {{student.name}}
                </li>
        </ul>

</div> -->


<!-- ngClass -->
<!-- <div class="row">
        <ul class="list-group col-md-12">
                <li class="list-group-item"
                [ngClass]="student.isPresentToday ? 'is-present' : 'is-absent'"
                *ngFor="let student of students;let idx = index;">
                        {{student.rollNumber}} : {{student.name}}
                </li>
        </ul>
</div> -->
<!-- [ngClass]="{'is-present' : student.isPresentToday, 'is-absent' : !student.isPresentToday}" -->



<!-- ngStyle -->
<!-- <div class="row">
        <ul class="list-group col-md-12">
                <li class="list-group-item"
                [ngStyle]="{'border-left' : student.isPresentToday ? '5px solid green' : '5px solid red'}"
                *ngFor="let student of students;let idx = index;">
                        {{student.rollNumber}} : {{student.name}}
                </li>
                
        </ul>
</div> -->



<!-- Safe navigation -->
<!-- <div>
        {{test.data}}
</div> -->